/****************************************************************
/ FORUM STYLES
/***************************************************************/
/*********************************
FORUM
/********************************/

.forum.directory_path{
	width: 100%;
	height: 32px;
	max-height: 32px;
	margin-top: -16px;
	margin-bottom: 24px;
}

.forum.directory_path p{
	height: 15px;
	margin-bottom: -16px;
	padding: 6px;
	padding-right: 12px;
	font-size: 12px;
}

.thread.subdirectory{
	margin-right: 16px;
	float: left;
	padding: 6px;
	padding-right: 12px;
	font-size: 12px;
	height: 15px;
}

.thread.group{
	width: 100%;
	min-height: 48px;
	margin-bottom: 4px;
}
.thread.category{
	width: 952px;
	padding-left: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.thread.overview.last{
	width: 600px;
	font-size: 12px;
	height: 14px;
	color: white;
}

.thread.overview.header{
	width: 100%;
	height: 24px;
	font-size: 14px;
	padding-top: 2px;
}

.thread.overview.header.title{
	width: 596px;
	min-width: 596px;
	height: 22px;
	float: left;
	font-size: 14px;
	padding: 0px;
	padding-top: 2px;
	padding-left: 24px;
	margin: 0px;
}

.thread.overview.description{
	width: 596px;
	min-width: 596px;
	height: 14px;
	float: left;
	font-size: 12px;
	padding: 0px;
	padding-top: 2px;
	padding-left: 8px;
	margin: 0px;
}

.thread.overview.header.last{
	width: 100px;
	min-width: 100px;
	height: 20px;
	float: right;
	text-align: center;
}
.thread.overview.header.replies{
	width: 100px;
	min-width: 100px;
	height: 20px;
	float: right;
	text-align: center;
}
.thread.overview.header.views{
	width: 100px;
	min-width: 100px;
	height: 20px;
	float: right;
	text-align: center;
}
.thread.overview.header.base_views{
	width: 220px;
	min-width: 240px;
	height: 20px;
	float: right;
	text-align: center;
}

.thread.overview.base{
	width: 100%;
	height: 48px;
}

.thread.overview.text{
	width: 100%;
}

.thread.overview.title{
	padding-left: 8px;
	padding-top: 4px;
	font-size: 16px;
	height: 22px;
	min-width: 596px;
	margin: 0px;
	float: left;
}

.thread.overview.status{
	float: left;
	height: 48px;
	width: 48px;
}

.thread.overview.created{
	padding-left: 8px;
	font-size: 12px;
	height: 18px;
	min-width: 440px;
	margin: 0px;
	float: left;
	padding-top: 2px;
}

.thread.overview.tools{
    float: left;
    min-width: 144px;
    height: 20px;
}

.thread.overview.data{
	height: 30px;
	width: 300px;
	float: right;
	margin-top: -32px;
	padding: 24px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thread.overview.base_data{
	height: 32px;
	width: 320px;
	float: right;
	margin-top: -34px;
	padding: 24px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}

.thread.overview.count.base_last{
	width: 220px;
	margin-top: -12px;
	font-size: 12px;
	text-align: left;
}

.thread.overview.count.base_last a{
	font-size: 14px;
	line-height: 140%;
	width: 220px;
	min-width: 220px;
	max-width: 220px;
	max-height: 20px;
	overflow: hidden;
}

.thread.overview.count{
	float: right;
	width: 100px;
	min-width: 100px;
	margin-right: 0px;
	text-align: center;
}

.thread.overview.count.last{
	width: 100px;
	margin-top: -12px;
	font-size: 12px;
	text-align: left;
}

.thread.overview.count.last a{
	font-size: 14px;
	line-height: 140%;
}

#pagination{
	float: right;
	border: 1px;
	padding-top: 2px;
	margin-bottom: 8px;
}

#pagination .pagination_btn{
	width: 20px;
	min-width: 20px;
	min-height: 20px;
	height: 20px;
	padding: 2px;
	margin: 2px;
}

.forum.toolList{
	float: right;
	border: 1px;
	padding-top: 2px;
	margin-bottom: 8px;
}

.forum.toolList a{
	padding: 8px;
	float: left;
	margin-top: 8px;
}

/****************************************************************
/* THREAD
/***************************************************************/
#newThread{
	width: 800px;
	height: 480px;
	margin: 0 auto;
}

#newThread .new_head{
	width: 784px;
	height: 24px;
	font-size: 14px;
	padding-top: 4px;
	padding-left: 16px;
	margin-bottom: 8px;
}

#newThread .edit_tools{
	width: 784px;
	height: 32px;
	margin-left: 16px;
}

#newThread label{
	width: 80px;
	margin-right: 32px;
	margin-left: 8px;
	padding: 8px;
}

#newThread input[type="text"]{
	width: 670px;
	padding: 8px;
	margin-bottom: 12px;
}

#newThread textarea{
	width: 748px;
	min-height: 268px;
	margin-left: 16px;
	resize: none;
	padding: 8px;
	line-height: 140%;
}

#newThread input[type="submit"]{
	float: right;
	margin-right: 16px;
}

.f_post{
	width: 960px;
	min-height: 240px;
	margin-bottom: 8px;
	float: left;
}

.thread.panel{
	min-height: 200px;
	padding: 8px;
}
.thread.panel.user{
	width: 160px;
	min-width: 160px;
	float: left;
}

.thread.user.title{
	width: 100%;
	height: 16px;
	font-size: 12px;
	float: left;
}

.thread.user.avatar{
	max-width: 150px;
	max-height: 150px;
	margin: 0 auto;
	margin-top: 8px;
}

.thread.user.postcount{
	width: 100%;
	height: 16px;
	font-size: 12px;
	float: left;
}

.thread.user.joindate{
	width: 100%;
	height: 16px;
	font-size: 12px;
	float: left;
}

.thread.panel.user a{
	margin: 0 auto;
	margin-bottom: 2px;
	font-size: 18px;
}

.thread.panel.post{
	width: 783px;
	float: left;
	padding: 0px;
}

.thread.panel.post.date{
	width: 948px;
	height: 12px;
	margin-left: 0px;
	min-height: 12px;
	font-size: 12px;
	padding: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
}

.thread.panel.post.date.text{
	margin: 0px;
	margin-top: -2px;
	padding: 0px;
	width: auto;
	height: auto;
}

.thread.panel.post.main{
	width: 767px;
	min-height: 132px;
	margin-left: 0px;
	padding: 8px;
}

.updated {
	width: 100%;
	height:14px;
	margin-top: 6px;
	float: left;
	font-size: 12px;
}

.thread.panel.post.sig{
	width: 767px;
	min-height: 50px;
	max-height: 450px;
	overflow: hidden;
	margin-left: 0px;
	padding: 8px;
}
.thread.panel.post.tools{
	float: right;
	width: 32px;
	min-width: 32px;
	height: 12px;
	min-height: 12px;
	margin: 0px;
	padding: 0px;
}

#reply{
	width: 100%;
}

#reply fieldset{
	border-width: 0px;
}

#reply h2.title{
	margin: 0px;
	padding: 4px;
	font-size: 18px;
}

.profile .signature_element{
    width: 767px;
    min-height: 50px;
    max-height: 450px;
    overflow: hidden;
    margin-left: 0px;
    padding: 8px;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}